<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<script src="https://cdn.tailwindcss.com"></script>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
	{# {% block stylesheets %}
																																														{{ encore_entry_link_tags('app') }}
																																													{% endblock %} #}

		{# {% block javascripts %}
																																																																																				
	{% endblock %} #}
	</head>
	<body>
		<nav class="flex items-center  bg-slate-300 w-screen h-16 px-32">
			<a class="text-slate-700  text-base font-bold  hover:scale-120 hover:text-blue-500 cursor-pointer" href="{{path('index')}}">Home</a>
			<div class="text-red-800 ml-4">

				{% for label,error in app.flashes("error") %}
					<p>{{error}}</p>
				{% endfor %}
			</div>
			<div class="text-green-800 ml-4">
				{% for label,error in app.flashes("success") %}
					<p>{{error}}</p>
				{% endfor %}
			</div>
		</nav>
		{% block body %}
			<div class="w-screen min-h-[90vh] bg-slate-200 grid grid-cols-4 ">
				<div class="border-slate-500 border-1 col-start-1 col-end-3 pl-8 pt-16">
					<h1 class="text-6xl text-cyan-800 mb-4">Hello in my todos App
					</h1>
					<h3 class="text-2xl text-cyan-900">Feel Free to add your todos</h3>
				</div>
				<div class="col-start-3 col-end-5 flex flex-col items-center space-y-4 pt-16 w-full max-w-[600px] mx-auto w-[400px]">
					<form class="flex flex-col items-center" method='GET' action="/add">


						<div class="flex flex-col items-center space-x-2 w-[400px] ">
							<label for="todo-input" class="text-lg font-bold self-start">Todo:</label>
							<textarea name="todo" id="todo-input" class="rounded-xl bg-white px-2 h-32 resize-none mt-1 w-full" placeholder="insert your todo"></textarea>
						</div>

						<button type='submit' class="border-[1px] rounded-lg px-4 py-2 text-slate-600 border-slate-600  hover:border-blue-400 mt-8 hover:text-blue-400">Add +</button>
					</form>
					<div class="flex flex-col w-full h-full justify-start space-y-2 items-center overflow-scroll max-h-[160px]">
						{% for todo in todos %}
							<div class="max-w-[300px] w-full border-[1px] border-cyan-800 px-4 py-2 rounded-md flex items-center justify-between max-h-32 hover:opacity-80 snap-center">
								<p>{{todo}}
								</p>
								<a class="cursor-pointer hover:text-red-400 text-xl font-bold" href="/delete/{{todo}}">X</a>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>

		{% endblock %}
	</body>
</html>
